
@import url('header-style.css');
@import url('main-style.css');
@import url('footer-style.css');
/* -------------------------------------------reset-styles------------------------------------------- */
*{
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

*, *:before, *:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus, :active{outline: none;}
a:focus, a:active{outline: none;}

nav,footer,header,aside{display: block;}

html, body{
	height: 100%;
	width: 100%;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
}

input, button, textarea{font-family: inherit;}

input::-ms-clear{display:none;}
button{cursor: pointer;}
button::-moz-focus-inner{padding: 0;border: 0;}
a, a:visited{text-decoration: none; color: inherit;}
a:hover{text-decoration: none;}
ul li{list-style-type: none;}

h1,h2, h3, h4, h5, h6{font-style: inherit;}

/* -------------------------------------------main-styles------------------------------------------- */
html{
	scroll-behavior: smooth;
}

body{
	font-family: 'Roboto', sans-serif;
	background-color: #fff;
}
.no-scroll{
	overflow: hidden;
}
.layout{
	display: flex;
	flex-direction: column;
	height: 100vh;
}

header{
	flex-shrink: 0;
}

main{
	background-color: lightseagreen;
	flex-grow: 1;
}

footer{
	background-color: black;
	flex-shrink: 0;
}

.container{
	max-width: 1230px;
	margin: 0 auto;
	padding: 0 15px;
	border: 1px solid red;
}

.accordion-content {
  overflow: hidden;
  max-height: 0;
  transition: max-height 0.3s ease-out;
}

.accordion-header {
  padding: 15px;
  background-color: #f4f4f4;
  cursor: pointer;
  border: 1px solid #ddd;
}

.accordion-item.active .accordion-content {
  max-height: 0; /* Это значение будет динамически обновляться через JavaScript */
}

.accordion-content {
  padding: 0 15px;
  background-color: white;
  border: 1px solid #ddd;
  border-top: none;
}
 